@{
    EFA_DEMO.Models.UserView onlineUser = EFA_DEMO.Models.OnlineUsers.CurrentUser;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Chevaleresk</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <table>
                    <tbody>
                        <tr>
                            <td><img src="/Images/Chevaleresk.png" style="height:32px; margin: 5px"></td>
                            <td>@Html.ActionLink("Chevaleresk", "Index", "Items", new { area = "" }, new { @class = "navbar-brand applicationName" })</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (onlineUser != null)
                    {
                        <li>@Helper.GlyphiconAction("../Items/Create", "glyphicon-plus glyphiconStyle", "Ajout d'item")</li>
                        <li style="font-weight: bold;">
                            @Helper.AvatarProfilLink(onlineUser)
                        </li>
                        if (onlineUser.Admin)
                        {
                            <li>@Helper.GlyphiconAction("../Users/AllUserLogs", "glyphicon-calendar glyphiconStyle", "Logs de connexion")</li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Helper.Glyphicon("glyphicon-user", "Joueurs")
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        @Html.ActionLink("Liste des joueurs", "List", new { controller = "Users" }, new { @class = "dropdown-item" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Joueurs en ligne", "Index", new { controller = "Users" }, new { @class = "dropdown-item" })
                                    </li>
                                </ul>

                            </li>
                        }
                        else
                        {
                            <li>@Helper.GlyphiconAction("../Users/UserLogs", "glyphicon-calendar glyphiconStyle", "Votre log de connexion")</li>
                            <li>@Helper.GlyphiconAction("../Users/Index", "glyphicon-user glyphiconStyle", "Liste des joueurs en ligne")</li>
                        }

                        <li>@Helper.GlyphiconAction("../AddToCart/Myorder", "glyphicon-shopping-cart glyphiconStyle", "Votre panier d'achat")</li>
                        <li>@Helper.GlyphiconAction("../Users/Logout", "glyphicon-log-out glyphiconStyle", "Déconnexion")</li>
                        <li>@Helper.GlyphiconAction("../Users/About", "glyphicon-info-sign glyphiconStyle", "À propos")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mon application ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
