@{ 
    Chevaleresk.Models.Players onlinePlayer = Chevaleresk.Models.OnlinePlayers.GetSessionPlayer();
}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Chevaleresk</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        @Html.ActionLink("Chevalresk", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-link">@Html.ActionLink("Marché d'objet", "Index", "Home")</li>
                <li class="nav-link">@Html.ActionLink("Inscription", "Subscribe", "Players")</li>
                <li class="nav-link">@Html.ActionLink("Contact", "Contact", "Home")</li>
                @if (onlinePlayer != null)
                {
                    <li>@onlinePlayer.FullName</li>
                    <li>@Html.ActionLink("Déconnection","Logout","Players")</li>
                }
            </ul>

            <div class="nav-link">@Html.ActionLink("Cart", "Myorder", "AddToCart")</div>

        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Chevaleresk ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
