@model EFA_DEMO.Models.Item

@{ ViewBag.Title = "Details"; }
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/fontawesome-stars.css" rel="stylesheet">

<h2>@Html.DisplayFor(model => model.Name)</h2>
@{ int? idItem = Model.IdType;
    int? idGenre = Model.Genre;}
<div>
    <hr />
    <img src="@Model.GetAvatarURL().Substring(1)" class="itemImage" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Items_Type.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Items_Type.Name)
        </dd>

        @if (idItem == 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Efficacite)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Efficacite) dégats
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Genre)
            </dt>

            if(idGenre == 0)
            {
                <dd>
                    Une main
                </dd>
            }
            if(idGenre == 1)
            {
                <dd>
                    Deux mains
                </dd>
            }

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        }
        @if (idItem == 1)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Matiere)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Matiere)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Poid)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Poid) kilogrammes
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Taille)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Taille) mètres
            </dd>
        }
        @if (idItem == 2)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Effet)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Effet)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Duree)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duree) secondes
            </dd>
        }

    </dl>

    <div class="container">
        <div class="be-comment-block">
            <h1 class="comments-title">Commentaire (@Model.Items_Reviews.Count)</h1>
            @foreach (var review in Model.Items_Reviews)
            {
<div class="be-comment">
    <div class="be-img-comment">
        <a href="blog-detail-2.html">
            <img src="@review.User.ToUserView().GetAvatarURL().Substring(1)" alt="" class="be-ava-comment">
        </a>
    </div>
    <div class="be-comment-content">

        <span class="be-comment-name">
            <a href="blog-detail-2.html">@review.User.FullName</a>
            <select class="ratingBar" data-current-rating="@review.Star">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </span>

        <p class="be-comment-text">
            @review.Review
        </p>
    </div>
</div>}

            @if (ViewBag.currentUserOwnThisItem != null && ViewBag.currentUserOwnThisItem)
            {
                using (Html.BeginForm())
                {
@Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <h1 class="comments-title">Votre évaluation: </h1>
                                <select name="Star" class="ratingBar">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <textarea name="Review" class="form-input" required="" placeholder="Votre commentaire" style="max-width: 100% !important;"></textarea>
                            </div>
                        </div>
                        <input class="btn btn-primary pull-right" type="submit" value="Publier">
                    </div>                }
                                }

        </div>

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdObject }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.barrating.min.js"></script>
    <script type="text/javascript">

        $('.ratingBar').each(function (index, rating) {
            var $rating = $(rating);
            $rating.barrating({
                theme: 'fontawesome-stars',
                initialRating: $rating.attr('data-current-rating')
            });
        });
    </script>
}