@model Dictionary<Item, int>

@{
    ViewBag.Title = "Myorder";
    double sumAchat = 0;
    string nomType = "autre";
    double compteurCartItemId = 0;
    int compteurItems = 0;

}
@if (OnlineUsers.CurrentUser != null)
{
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row w-100">
                <div class="col-lg-12 col-md-12 col-12">
                    <h3 class="display-5 mb-2 text-center">Shopping Cart</h3>
                    <p class="mb-5 text-center">
                        <i class="text-info font-weight-bold">@ViewBag.cart</i> items in your cart
                    </p>
                    <p class="mb-5 text-center">
                        Votre solde:<i class="text-info font-weight-bold">@ViewBag.currentMoneyPlayer</i>
                    </p>

                    @if (Model != null)
                    {
                        <p class="mb-5 text-center" style="color: red">
                            @ViewBag.NotEnoughMoney
                            @if (ViewBag.ObjetNonValide != null)
                            {

                                <h4 style="color: red; text-align: center">Voici la liste des objets qui ne pourrons être acheter : @ViewBag.ObjetNonValide</h4>
                            }
                        </p>
                        <table id="shoppingCart" class="table table-condensed table-responsive">
                            <thead>
                                <tr>
                                    <th style="width:60%">Item</th>
                                    <th style="width:12%">Prix</th>
                                    <th style="width:10%">Quantité</th>
                                    <th style="width:16%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    nomType = ItemView.FoundType((int)item.Key.IdType);

                                    compteurCartItemId = item.Value * item.Key.Price;

                                    <tr>
                                        <td data-th="Product">
                                            <div class="row">
                                                <div class="col-md-3 text-left">
                                                    <img style="height: 120px; width: 120px" src="@item.Key.PictureGUID" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                                </div>
                                                <div class="col-md-9 text-left mt-sm-2">
                                                    <h4>Nom Item: @item.Key.Name</h4>
                                                    <p class="font-weight-light">
                                                        @nomType
                                                    </p>
                                                </div>
                                            </div>
                                        </td>
                                        <td data-th="Price">@compteurCartItemId</td>
                                        <td data-th="Quantity">
                                            @item.Value
                                        </td>
                                        <td class="actions" data-th="">
                                            <div class="text-right">
                                                | @Html.ActionLink("Supprimer", "../AddToCart/Remove", new { id = item.Key.IdObject })
                                            </div>
                                        </td>
                                    </tr>
                                    sumAchat += compteurCartItemId;
                                }
                            </tbody>
                        </table>
                        <div class="float-right text-right">
                            <h4>Total des achats:</h4>
                            <h1>@sumAchat$</h1>
                        </div>
                     }
                </div>
            </div>
            <div style="justify-content: space-between; display: flex; flex-flow: row; ">
                @Helper.GlyphiconAction("../Items/Index", "glyphicon-arrow-left lightgreen", "Continuer vos achats")

                @if (Model != null)
                {
                    @Helper.GlyphiconAction("../AddToCart/BuyCart", "glyphicon glyphicon-ok lightgreen", "Acheter")
                }
            </div>

        </div>
    </section>
}
else
{
    Response.Redirect("~/Users/Login");
}



