@model EFA_DEMO.Models.Item

@{
    ViewBag.Title = "Delete";
}

<h2 style="font-style: italic"> <b>Êtes-vous sûr de vouloir supprimer <u>@Model.Name</u></b> </h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StockQuantity)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.StockQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Items_Type.Name)
        </dd>
        <dd>
            <img src="@Model.GetAvatarURL().Substring(1)" />
        </dd>
        <dd>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Supprimer" class="btn btn-danger" />
                </div>
            }
        </dd>
    </dl>

   

    @Helper.GlyphiconAction("../Items/Index", "glyphicon-arrow-left lightgreen", "Retour au marché")
</div>

