@model EFA_DEMO.Models.Item

@{
    ViewBag.Title = "Details";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/fontawesome-stars.css" rel="stylesheet">

<h2 style="font-style: italic">
    <u>
        <b>
            @Html.DisplayFor(model => model.Name)
        </b>
    </u>
</h2>
<div>
    @if (OnlineUsers.CurrentUserIsAdmin())
    {
        @Helper.GlyphiconAction("../Items/Edit/" + Model.IdObject, "glyphicon glyphicon-cog", "Editer l'objet")
        @Helper.GlyphiconAction("../Items/Delete/" + Model.IdObject, "glyphicon glyphicon-trash", "Supprimer l'objet")
    }
</div>

<div class="container body-content">
    <table>
        <tbody>
            <tr>
                <td>
                    <img src="@Model.GetAvatarURL().Substring(1)" />
                </td>
                <td>
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.StockQuantity)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.StockQuantity)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Price)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Price)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.PictureGUID)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.PictureGUID)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Items_Type.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Items_Type.Name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>
                            @switch (Model.IdType)
                            {
                                case 0:
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Efficacite)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Efficacite) dégats
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Genre)
                                    </dt>
                                    switch (Model.Genre)
                                    {
                                        case 0:
                                            <dd>
                                                Une main
                                            </dd>
                                            break;
                                        case 1:
                                            <dd>
                                                Deux mains
                                            </dd>
                                            break;
                                    }
                                    break;
                                case 1:
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Matiere)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Matiere)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Poid)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Poid) kilogrammes
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Taille)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Taille) mètres
                                    </dd>
                                    break;
                                case 2:
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Effet)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Effet)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Duree)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Duree) secondes
                                    </dd>
                                    break;

                            }
                        </dl>
                    </div>
                </td>
            </tr>
            <tr>
            </tr>
        </tbody>
    </table>
    <p>
        @if (OnlineUsers.CurrentUser != null)
        {
            using (Html.BeginForm("Add", "ShoppingCart", FormMethod.Post))
            {
                @Html.Hidden("id", Model.IdObject);
                <p>
                    <select style="margin-left: 45%" name="quantityReceive" class="selectQuantity form-control quantity-input" id="@Model.IdObject" data-old-value="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10+">10+</option>
                    </select>
                </p>
            <button style="margin-left: 45%" class="btn btn-default btn-primary" type="submit" value="ajouter au panier">Ajouter au panier</button>
            }
        }
        <div style="justify-content: space-between; display: flex; flex-flow: row; ">
            @Helper.GlyphiconAction("../Items/Index", "glyphicon-arrow-left lightgreen", "Continuer vos achats")
        </div>

        <div class="container">
            <div class="be-comment-block">
                <h1 class="comments-title">Commentaire (@Model.Items_Reviews.Count)</h1>
                @foreach (var review in Model.Items_Reviews)
                {
                    <div class="be-comment">
                        <div class="be-img-comment">
                            <a href="blog-detail-2.html">
                                <img src="@review.User.ToUserView().GetAvatarURL().Substring(1)" alt="" class="be-ava-comment">
                            </a>
                        </div>
                        <div class="be-comment-content">

                            <span class="be-comment-name">
                                <a href="blog-detail-2.html">@review.User.FullName</a>
                                <select class="ratingBar" data-current-rating="@review.Star">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </span>
                            @if (OnlineUsers.CurrentUser != null && (review.IdPlayer == OnlineUsers.CurrentUser.Id || OnlineUsers.CurrentUserIsAdmin()))
                            {
                                using (Html.BeginForm("RemoveReview", "Items"))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@review.IdReview" />
                                    <span class="icon-input-btn">
                                        <i class="fa fa-trash"></i>
                                        <input type="submit" class="btn btn-danger btn-lg" value="Effacer">
                                    </span>
                                }
                            }

                            <p class="be-comment-text">

                                @review.Review
                            </p>
                        </div>
                    </div>
                }

                @if (ViewBag.currentUserOwnThisItem != null && ViewBag.currentUserOwnThisItem)
                {
                    using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <h1 class="comments-title">Votre évaluation: </h1>
                                    <select name="Star" class="ratingBar">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <textarea name="Review" class="form-input" required="" placeholder="Votre commentaire" style="max-width: 100% !important;"></textarea>
                                </div>
                            </div>
                            <input class="btn btn-primary pull-right" type="submit" value="Publier">
                        </div>
                    }
                }

            </div>

        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/jquery.barrating.min.js"></script>
        <script type="text/javascript">

            $('.ratingBar').each(function (index, rating) {
                var $rating = $(rating);
                $rating.barrating({
                    theme: 'fontawesome-stars',
                    initialRating: $rating.attr('data-current-rating')
                });
            });

            $(() => {
                $(".selectQuantity").each((_, elem) => {
                    $elem = $(elem)
                    console.log($elem)
                    $val = $elem.attr("data-old-value")//pour l'Initialisation
                    $firstTime = true
                    if ($firstTime) {
                        $elem.children().each((index, option) => {
                            $option = $(option)
                            if ($option.val() == $val) {
                                $option.attr("selected", "selected")
                            }
                        })
                        $firstTime = false;
                    }
                    if ($elem.is("input")) {
                        $elem.click((evt) => {
                            $elem = $(evt.currentTarget)
                            $elem.select()
                        });
                    }

                    $($elem).change((evt) => {
                        $elem = $(evt.currentTarget) //select
                        $parent = $elem.parent() //container
                        if ($elem.val() == "10+") {
                            $elem.remove()
                            $(`<input style="margin-left: 45%" class='selectQuantity form-control quantity-input' maxlength='3' name="quantityReceive" id='${$elem.attr('id')}' value='${$elem.attr("data-old-value")}'/>`)
                                .appendTo($parent).select()
                                .blur((evt) => {
                                    $elem = $(evt.currentTarget) // Input
                                    console.log($elem)
                                }).click((evt) => {
                                    $elem = $(evt.currentTarget)
                                    $elem.select()
                                });
                        }
                    })
                })
                $(".money").each((_, elem) => {
                    $(elem).simpleMoneyFormat();
                });
            })

        </script>
    }