@model IEnumerable<EFA_DEMO.Models.Item>

@{ ViewBag.Title = "Index"; }

<h2 style="font-style: italic">Marché</h2>
@using (Html.BeginForm("Index", "Items", FormMethod.Get))
{
<div>
    @Html.ActionLink("Tri par nom", "Index", new { sortOrder = ViewBag.NameSortParm }) |
    @Html.ActionLink("tri par prix", "Index", new { sortOrder = ViewBag.PriceSortParm }) |
    @Html.ActionLink("Tri par type", "Index", new { sortOrder = ViewBag.TypeSortParm })
    @Html.TextBox("sortOrder", "", new { @class = "form-control" })

    <input type="submit" value="Recherche" class="form-control btn-default" />  @Html.ActionLink("Vider la sélection", "Index", new { sortOrder = ViewBag.NameSortParm = "" })
</div>
<br />
}

<div class='thumbnailListContainer'>
    @foreach (var item in Model)
    {
        if (item.StockQuantity > 0)
        {
            <div class='thumbnailContainer'>
                <div style="font-style: italic">
                    <b>@item.Name</b>
                </div>
                <a href="@Url.Action("Details", "Items", new { id = item.IdObject })">
                    <img style="height: 120px; width: 120px" src="@item.GetAvatarURL().Substring(1)" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                </a>
            </div>
        }
    }
</div>
