@model IEnumerable<Chevaleresk.Models.Items>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PictureGUID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items_Type.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureGUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Items_Type.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdObject }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdObject }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdObject })
        </td>
    </tr>
}

</table>
