@model EFA_DEMO.Models.User_Inventory

@{
    ViewBag.Title = "Inventory";
}
<br />
    <h2 class="text-center" style="margin-top: 0 !important">Inventaire de @Model.User.FullName</h2>
    @Helper.ImageDisplay(Model.User.IdPlayer, Model.User.ToUserView().GetAvatarURL(), "inventoryAvatar center-block")


<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            Quantité
        </th>
        <th>
            Nom Item
        </th>
    </tr>

    @foreach (var items in Model.ItemsQuantities)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "Items", new { id = items.Item1.IdObject })">
                    <img style="height: 120px; width: 120px" src="@items.Item1.GetAvatarURL().Substring(1)" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                </a>
            </td>
            <td>
                <b>@items.Item2</b>
            </td>
            <td>
                <u><b>@items.Item1.Name</b></u>
            </td>
        </tr>
        <tr class='thumbnailContainer'>
            
        </tr>
    }

</table>
